@import "variable.scss";

.content-main {
    background-color: $colorbgBlue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-item {
        .content-item {
            &-form-login {
                width: 350px;

                .title {
                    font-size: 30px;
                    color: $colorWhite;
                    text-align: left;
                    margin-bottom: 25px;
                }
            }
        }

        .box-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn-login {
                width: 100%;
                background-color: $colorbgRed;
                color: $colorWhite;
                font-weight: bold;
                padding: 7px 0;
                border-radius: 5px;
                margin-top: 30px;
                cursor: pointer;
                transition: all .4s;

                &:hover {
                    box-shadow: 0px 2px 10px rgba($colorBlack,0.5);
                }
            }

            .btn-back-index {
                margin-top: 15px;
                text-align: center;
                color: $colorWhite;
                font-weight: bold;
                cursor: pointer;
                transition: all .3s;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
