$colorGreen1x: #4cff00;
$colorGreen2x: #008000;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorTextMain: #333333;
$colorTextInfo: #064E89;
$colorTextBlue: #007bff;
$colorbgRed: #dc3545;
$colorbgBlue: #064E89;
$colorYellow: #fffa00;
$colorBgGrey: #e9ecef;
$colorTextSelect: #B0C2D0;
